<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>NetworkAnalyzer</string>
    <key>CFBundleIdentifier</key>
    <string>org.networkanalyzer.NetworkAnalyzer</string>
    <key>CFBundleName</key>
    <string>Network Analyzer</string>
    <key>CFBundleDisplayName</key>
    <string>Network Analyzer</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>Licensed under the GNU General Public License v3.0</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>Network Analyzer scans your local network to list nearby hosts, their vendor, and open well-known ports.</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_http._tcp</string>
        <string>_https._tcp</string>
        <string>_ssh._tcp</string>
        <string>_smb._tcp</string>
        <string>_afpovertcp._tcp</string>
        <string>_airplay._tcp</string>
        <string>_raop._tcp</string>
        <string>_ipp._tcp</string>
        <string>_ipps._tcp</string>
        <string>_printer._tcp</string>
        <string>_device-info._tcp</string>
        <string>_googlecast._tcp</string>
        <string>_homekit._tcp</string>
        <string>_workstation._tcp</string>
        <string>_spotify-connect._tcp</string>
    </array>
</dict>
</plist>
